# === Environnement Python ===
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# === Fichiers temporaires ou inutiles ===
*.log
*.bak
*.swp
.DS_Store
Thumbs.db

# === Jupyter / VSCode / OS ===
.ipynb_checkpoints/
.vscode/
*.~*